# Data Cleaning

In [1]:
# Dependencies
import pandas as pd
from datetime import datetime as dt

from sqlalchemy import create_engine

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import inspect

from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
perth = pd.read_csv("static/data/Perth.csv")
west_perth = pd.read_csv("static/data/WestPerth.csv")
east_perth = pd.read_csv("static/data/EastPerth.csv")
crawley = pd.read_csv("static/data/Crawley.csv")
nedlands = pd.read_csv("static/data/Nedlands.csv")
northbridge = pd.read_csv("static/data/Northbridge.csv")

northbridge

,address,suburb,state,postcode,full_address,price,sold date,type,bedrooms,bathrooms,car space,Land size,Building size,Year Built,rent,rent date,agent,lat,lng
0,6/11 Shenton Street,Northbridge,WA,6003,6/11 Shenton Street Northbridge WA 6003,"$440,000",2021-07-01,Apartment,2,1,1,108,84.0,1996-01-01,$475pw,2017-12-01,Claude Iaconi,-31.946108,115.854510
1,4/335 Newcastle Street,Northbridge,WA,6003,4/335 Newcastle Street Northbridge WA 6003,"$320,000",2021-05-01,Apartment,1,1,1,82,56.0,2008-01-01,$300pw,2016-09-01,not recorded,-31.943918,115.855434
2,2/89 Aberdeen Street,Northbridge,WA,6003,2/89 Aberdeen Street Northbridge WA 6003,"$379,000",2021-05-01,Apartment,2,1,1,99,67.0,2016-01-01,$380pw,2019-08-01,Brendon Habak,-31.946852,115.858781
3,2/2 Davies Street,Northbridge,WA,6003,2/2 Davies Street Northbridge WA 6003,"$333,000",2021-05-01,Unit,1,1,1,83,58.0,2006-01-01,$330pw,2018-11-01,Arash Kalani,-31.944023,115.855711
4,39/258-264 Newcastle,Northbridge,WA,6003,39/258-264 Newcastle Northbridge WA 6003,"$526,350",2021-05-01,Apartment,2,2,2,173,124.0,2005-01-01,0,1900-01-01,not recorded,-31.944986,115.858941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,25/20 Pendal Lane,Northbridge,WA,6003,25/20 Pendal Lane Northbridge WA 6003,"$724,999",2013-07-01,Townhouse,3,2,2,203,161.0,2003-01-01,$590pw,2018-02-01,For Sale By Owner Australia,-31.942841,115.856104
244,21/145 Newcastle Street,Northbridge,WA,6003,21/145 Newcastle Street Northbridge WA 6003,"$614,000",2013-07-01,Apartment,3,2,1,151,104.0,2009-01-01,0,1900-01-01,Realmark Central - East Perth,-31.946895,115.861846
245,18/76 Newcastle Street,Northbridge,WA,6003,18/76 Newcastle Street Northbridge WA 6003,"$535,000",2013-07-01,Apartment,2,2,1,123,88.0,2007-01-01,$530pw,2014-01-01,Abel Property - Leederville,-31.948372,115.866086
246,10/89 Lake Street,Northbridge,WA,6003,10/89 Lake Street Northbridge WA 6003,"$590,000",2013-06-01,Apartment,3,2,1,139,99.0,2009-01-01,$540pw,2011-11-01,BOSS Real Estate - Northbridge,-31.945441,115.857860
247,13/10 Pendal Lane,Northbridge,WA,6003,13/10 Pendal Lane Northbridge WA 6003,"$560,000",2013-06-01,Apartment,2,2,1,117,90.0,2003-01-01,0,1900-01-01,MLG Realty - EAST PERTH,-31.943275,115.856012

In [3]:
frames = [perth, west_perth, east_perth, crawley, nedlands, northbridge]

cityofperth_df = pd.concat(frames)

cityofperth_df

,address,suburb,state,postcode,full_address,price,sold date,type,bedrooms,bathrooms,car space,Land size,Building size,Year Built,rent,rent date,agent,lat,lng
0,1/10 Pendal Lane,Perth,WA,6000,1/10 Pendal Lane Perth WA 6000,"$359,000",2020-08-01,Apartment,2.0,2.0,1.0,96.0,90.0,2003-01-01,$470pw,2010-06-01,not recorded,-31.943275,115.856012
1,1/10 Wright Street,Perth,WA,6000,1/10 Wright Street Perth WA 6000,"$355,000",2020-04-01,Townhouse,2.0,1.0,1.0,62.0,62.0,1979-01-01,$340pw,2018-10-01,not recorded,-31.940382,115.873713
2,1/308 Stirling Street,Perth,WA,6000,1/308 Stirling Street Perth WA 6000,"$325,000",2021-05-01,Unit,2.0,1.0,1.0,59.0,59.0,1965-01-01,$300pw,2012-04-01,Peter Thomas,-31.942238,115.869436
3,1/33 Windsor Street,Perth,WA,6000,1/33 Windsor Street Perth WA 6000,"$360,000",2020-07-01,Apartment,2.0,2.0,1.0,97.0,56.0,2016-01-01,$360pw,2020-03-01,not recorded,-31.944320,115.874520
4,1/478 William Street,Perth,WA,6000,1/478 William Street Perth WA 6000,"$523,000",2021-06-01,Apartment,2.0,2.0,2.0,129.0,90.0,2009-01-01,$475pw,2020-07-01,not recorded,-31.941260,115.863844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,25/20 Pendal Lane,Northbridge,WA,6003,25/20 Pendal Lane Northbridge WA 6003,"$724,999",2013-07-01,Townhouse,3.0,2.0,2.0,203.0,161.0,2003-01-01,$590pw,2018-02-01,For Sale By Owner Australia,-31.942841,115.856104
244,21/145 Newcastle Street,Northbridge,WA,6003,21/145 Newcastle Street Northbridge WA 6003,"$614,000",2013-07-01,Apartment,3.0,2.0,1.0,151.0,104.0,2009-01-01,0,1900-01-01,Realmark Central - East Perth,-31.946895,115.861846
245,18/76 Newcastle Street,Northbridge,WA,6003,18/76 Newcastle Street Northbridge WA 6003,"$535,000",2013-07-01,Apartment,2.0,2.0,1.0,123.0,88.0,2007-01-01,$530pw,2014-01-01,Abel Property - Leederville,-31.948372,115.866086
246,10/89 Lake Street,Northbridge,WA,6003,10/89 Lake Street Northbridge WA 6003,"$590,000",2013-06-01,Apartment,3.0,2.0,1.0,139.0,99.0,2009-01-01,$540pw,2011-11-01,BOSS Real Estate - Northbridge,-31.945441,115.857860
247,13/10 Pendal Lane,Northbridge,WA,6003,13/10 Pendal Lane Northbridge WA 6003,"$560,000",2013-06-01,Apartment,2.0,2.0,1.0,117.0,90.0,2003-01-01,0,1900-01-01,MLG Realty - EAST PERTH,-31.943275,115.856012

In [4]:
cityofperth_df = cityofperth_df.dropna()

cityofperth_df

,address,suburb,state,postcode,full_address,price,sold date,type,bedrooms,bathrooms,car space,Land size,Building size,Year Built,rent,rent date,agent,lat,lng
0,1/10 Pendal Lane,Perth,WA,6000,1/10 Pendal Lane Perth WA 6000,"$359,000",2020-08-01,Apartment,2.0,2.0,1.0,96.0,90.0,2003-01-01,$470pw,2010-06-01,not recorded,-31.943275,115.856012
1,1/10 Wright Street,Perth,WA,6000,1/10 Wright Street Perth WA 6000,"$355,000",2020-04-01,Townhouse,2.0,1.0,1.0,62.0,62.0,1979-01-01,$340pw,2018-10-01,not recorded,-31.940382,115.873713
2,1/308 Stirling Street,Perth,WA,6000,1/308 Stirling Street Perth WA 6000,"$325,000",2021-05-01,Unit,2.0,1.0,1.0,59.0,59.0,1965-01-01,$300pw,2012-04-01,Peter Thomas,-31.942238,115.869436
3,1/33 Windsor Street,Perth,WA,6000,1/33 Windsor Street Perth WA 6000,"$360,000",2020-07-01,Apartment,2.0,2.0,1.0,97.0,56.0,2016-01-01,$360pw,2020-03-01,not recorded,-31.944320,115.874520
4,1/478 William Street,Perth,WA,6000,1/478 William Street Perth WA 6000,"$523,000",2021-06-01,Apartment,2.0,2.0,2.0,129.0,90.0,2009-01-01,$475pw,2020-07-01,not recorded,-31.941260,115.863844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,25/20 Pendal Lane,Northbridge,WA,6003,25/20 Pendal Lane Northbridge WA 6003,"$724,999",2013-07-01,Townhouse,3.0,2.0,2.0,203.0,161.0,2003-01-01,$590pw,2018-02-01,For Sale By Owner Australia,-31.942841,115.856104
244,21/145 Newcastle Street,Northbridge,WA,6003,21/145 Newcastle Street Northbridge WA 6003,"$614,000",2013-07-01,Apartment,3.0,2.0,1.0,151.0,104.0,2009-01-01,0,1900-01-01,Realmark Central - East Perth,-31.946895,115.861846
245,18/76 Newcastle Street,Northbridge,WA,6003,18/76 Newcastle Street Northbridge WA 6003,"$535,000",2013-07-01,Apartment,2.0,2.0,1.0,123.0,88.0,2007-01-01,$530pw,2014-01-01,Abel Property - Leederville,-31.948372,115.866086
246,10/89 Lake Street,Northbridge,WA,6003,10/89 Lake Street Northbridge WA 6003,"$590,000",2013-06-01,Apartment,3.0,2.0,1.0,139.0,99.0,2009-01-01,$540pw,2011-11-01,BOSS Real Estate - Northbridge,-31.945441,115.857860
247,13/10 Pendal Lane,Northbridge,WA,6003,13/10 Pendal Lane Northbridge WA 6003,"$560,000",2013-06-01,Apartment,2.0,2.0,1.0,117.0,90.0,2003-01-01,0,1900-01-01,MLG Realty - EAST PERTH,-31.943275,115.856012

In [5]:
#to remove '$' from price
cityofperth_df['price'] = cityofperth_df['price'].map(lambda x: x.lstrip('$'))

C:\Users\helena\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
#to remove ',' from price
cityofperth_df['price'] = cityofperth_df['price'].str.replace(',', '')

C:\Users\helena\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
cityofperth_df['price']

0      359000
1      355000
2      325000
3      360000
4      523000
        ...
243    724999
244    614000
245    535000
246    590000
247    560000
Name: price, Length: 1618, dtype: object

In [8]:
#to remove '$' and 'pw' from rent
cityofperth_df['rent'] = cityofperth_df['rent'].map(lambda x: x.lstrip('$').rstrip('pw'))

C:\Users\helena\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
cityofperth_df['rent']

0      470
1      340
2      300
3      360
4      475
      ...
243    590
244      0
245    530
246    540
247      0
Name: rent, Length: 1618, dtype: object

In [ ]:
cityofperth_df.dtypes

In [ ]:
#convert all datatypes to be able to fit in SQLite
cityofperth_df['address'] = cityofperth_df['address'].astype('string')
cityofperth_df['suburb'] = cityofperth_df['suburb'].astype('string')
cityofperth_df['state'] = cityofperth_df['state'].astype('string')
cityofperth_df['full_address'] = cityofperth_df['full_address'].astype('string')
cityofperth_df['type'] = cityofperth_df['type'].astype('string')
cityofperth_df['price'] = cityofperth_df['price'].astype('float64')
cityofperth_df['sold date'] = cityofperth_df['sold date'].astype('datetime64[ns]')
cityofperth_df['Land size'] = cityofperth_df['Land size'].astype('float64')
# cityofperth_df['Year Built'] = cityofperth_df['Year Built'].astype('datetime64[ns]')
cityofperth_df['rent'] = cityofperth_df['rent'].astype('float64')
# cityofperth_df['rent date'] = cityofperth_df['rent date'].astype('datetime64[ns]')
cityofperth_df['agent'] = cityofperth_df['agent'].astype('string')

cityofperth_df.dtypes

In [ ]:
cityofperth_df.head(5)

In [ ]:
# renaming columns to have the similar formatting
cityofperth_df = cityofperth_df.rename(columns= {'Year Built':'built_date', 'Land size':'land_size',
                                                 'Building size':'building_size', 'sold date':'sold_date' , 
                                                 'car space':'car_space', 'rent date':'rent_date' ,
                                                'type':'property_type'})

In [ ]:
cityofperth_df.to_csv('static/data/cityofperth.csv')

In [ ]:
cityofperth_df.dtypes

In [ ]:
cityofperth_df.columns

In [ ]:
cityofperth_df =  cityofperth_df[['full_address', 'price',
       'sold_date', 'property_type', 'bedrooms', 'bathrooms', 'car_space',
       'land_size', 'building_size', 'built_date', 'rent', 'rent_date',
       'agent', 'lat', 'lng', 'address', 'suburb', 'state', 'postcode']]
cityofperth_df.head()

In [ ]:
# Change date columns to string
cityofperth_df['sold_date'] = cityofperth_df['sold_date'].dt.strftime('%Y-%m')
cityofperth_df['built_date'] = cityofperth_df['built_date'].dt.strftime('%Y')
cityofperth_df['rent_date'] = cityofperth_df['rent_date'].dt.strftime('%Y-%m')

In [ ]:
# Change date columns to string
cityofperth_df['sold_date'] = cityofperth_df['sold_date'].astype('string')
cityofperth_df['built_date'] = cityofperth_df['built_date'].astype('string')
cityofperth_df['rent_date'] = cityofperth_df['rent_date'].astype('string')

In [ ]:
cityofperth_df.head()

In [ ]:
cityofperth_df.dtypes

# Export DataFrame to SQLite table

In [ ]:
# Establish database connection
engine = create_engine('sqlite:///SQL/CityOfPerth.sqlite')
conn = engine.connect()

In [ ]:
# Define our perthcity table
class PerthCity(Base):
    __tablename__ = 'perthcity'
    sale_id = Column(Integer, primary_key=True)
    full_address = Column(String)
    price = Column(Float)
    sold_date = Column(String)
    property_type = Column(String)
    bedrooms = Column(Float)
    bathrooms = Column(Float)
    car_space = Column(Float)
    land_size = Column(Float)
    building_size = Column(Float)
    built_date = Column(String)
    rent = Column(Float)
    rent_date = Column(String)
    agent = Column(String)
    lat = Column(Float)
    lng = Column(Float)
    address = Column(String)
    suburb  = Column(String)
    state = Column(String)
    postcode = Column(Integer)

In [ ]:
# # Define our perthcity table
# class PerthCity(Base):
#     __tablename__ = 'perthcity'
#     full_address = Column(VARCHAR, primary_key=True)
#     price = Column(Float)
#     sold_date = Column(varchar)
#     property_type = Column(varchar)
#     bedrooms = Column(Float)
#     bathrooms = Column(Float)
#     car_space = Column(Float)
#     land_size = Column(Float)
#     building_size = Column(Float)
#     built_date = Column(varchar)
#     rent = Column(Float)
#     rent_date = Column(varchar)
#     agent = Column(varchar)
#     lat = Column(Float)
#     lng = Column(Float)
#     address = Column(varchar)
#     suburb  = Column(varchar)
#     state = Column(varchar)
#     postcode = Column(Integer)

In [ ]:
# Create the table within the database
Base.metadata.create_all(engine)

In [ ]:
# Load data into table
cityofperth_df.to_sql('perthcity', engine, if_exists="append", index=False)

In [ ]:
# Reflect the database tables
Base = automap_base()
Base.prepare(engine, reflect=True)

In [ ]:
# Print all of the classes mapped to the Base
Base.classes.keys()

In [ ]:
# Create a session
session = Session(engine)

In [ ]:
# Assign the class to related variable
PerthCity = Base.classes.perthcity

In [ ]:
# Use the session to query PerthCity table 
for row in session.query(PerthCity.sale_id, PerthCity.full_address, PerthCity.price, PerthCity.sold_date).limit(20).all():
    print(row)

In [ ]:
cityofperth_df.columns